.section1 {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    background-position: center;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    transition: all .50s ease;
}

.section1__image {
    margin: auto;
    width: 80%;
    height: 700px;
    border: 1px solid var(--border-color);
    text-align: center;
    background-image: url("../images/hoodie.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.section1__image h1 {
    display: flex;
    position: absolute;
    -webkit-text-stroke: 2px var(--text-color);
    padding-top: 250px;
    letter-spacing: -10px;
    color: rgba(1, 1, 1, 0);
    font-size: 200px;
    font-family: 'Poppins';
    animation: RightToLeft 10s infinite linear;
}

@keyframes RightToLeft {
    from{
        transform: translate(85%);
    }
    to{
        transform: translate(-85%);
    }
}

.line {
    width: 100%;
    height: .2rem;
    background-color: var(--main-color);
}

.section1__button {
    width: 120px;
}

@media (max-width: 1280px) {
    .section1 {
        padding-top: 150px;
        padding-bottom: 250px;
        transition: all .50s ease;
    }
    .welcome {
        margin-left: 5%;
        transition: all .50s ease;
    }
    .welcome__text {
        margin-left: 5%;
        transition: all .50s ease;
    }
    .welcome h1 {
        color: var(--main-color);
        font-size: 64px;
    }
    .section1__button {
        width: 120px;
        margin-left: 15%;
        margin-top: 20px;
        size: 16px;
    }
}

@media (max-width: 900px) {
    .section1 {
        display: flex;
        align-items: center;
        padding-top: 200px;
        padding-bottom: 300px;
        transition: all .50s ease;
    }
    .welcome {
        width: 60%;
        margin-left: 0;
        margin-right: 0;
        transition: all .50s ease;
    }
    .welcome__text {
        width: 60%;
        margin-left: 0;
        margin-right: 0;
        transition: all .50s ease;
    }
    .welcome h1 {
        color: var(--main-color);
        font-size: 52px;
    }
    .section1__button {
        width: 120px;
        margin-top: 20px;
        size: 16px;
        margin-left: 0;
    }
}

.block {
    height: 1000px;
    background-color: rgb(234, 228, 240);
}