.section1 {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    background-position: center;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    transition: all .50s ease;
}

.empty_space {
    height: 2000px;
}

.hoodie_1 {
    position: absolute;
    width: 937px;
    height: 681px;
    flex-shrink: 0;
    left: 490px;
    top: 38vh;
}

.bg_fade_blue {
    position: absolute;
    top: 678px;
    left: 1398px;
    width: 887px;
    height: 887px;
    flex-shrink: 0;
    border-radius: 887px;
    background: rgba(39, 136, 225, 0.30);
    filter: blur(97px);
}

.bg_fade_pink {
    position: absolute;
    top: -303px;
    right: 1283px;
    width: 887px;
    height: 887px;
    flex-shrink: 0;
    border-radius: 887px;
    background: rgba(198, 40, 119, 0.20);
    filter: blur(97px);
}